@import "tailwindcss";

@theme {
  --color-pantone: rgb(255, 91, 4);

  --color-gunmetal-50: rgb(70, 96, 112);
  --color-gunmetal: rgb(35, 48, 56);
  --color-gunmetal-200: rgb(18, 24, 28);

  --color-ivory: rgb(253, 246, 227);

  --color-silver: rgb(243, 254, 255);
}

html, main {
  @apply h-full bg-gunmetal text-silver;
}
